<settings xmlns="https://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <proxies>
    <proxy>
      <id>raytheon-http-proxy</id>
      <protocol>http</protocol>
      <host>${env.HTTP_PROXY_HOST}</host>
      <port>${env.HTTP_PROXY_PORT}</port>
      <nonProxyHosts>${env.HTTP_NON_PROXY_HOSTS}</nonProxyHosts>
    </proxy>
    <proxy>
      <id>raytheon-https-proxy</id>
      <protocol>https</protocol>
      <host>${env.HTTPS_PROXY_HOST}</host>
      <port>${env.HTTPS_PROXY_PORT}</port>
      <nonProxyHosts>${env.HTTPS_NON_PROXY_HOSTS}</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
